<h2>{{class.title}}'s Classes</h2>
<table cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>Lesson Number</th>
			<th>Lesson Title</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each class.lesson}}
        <tr>
            <td>{{lesson_number}}</td>
            <td>{{lesson_title}}</td>
            <td><a href="/classes/{{../class._id}}/lessons/{{lesson_number}}" class="button">View Detail</a></td>
            <td><a href="/instructors/classes/{{../class._id}}/lessons/{{_id}}/update" class="button">Update Lesson</a></td>
            <td><a href="/instructors/classes/{{../class._id}}/lessons/{{_id}}/delete" class="button">Delete Lesson</a></td>
        </tr>
		{{/each}}
	</tbody>
</table>